<html>
    <head>
       
    </head>
    <body>
        <h1 align=center>benevenuto!</h1>
        <form method=post align=center>
            <p><input type=text placeholder="username" name=username id=username></p>
            <p><input type=password placeholder="password" name=password id=password></p>
            <button id ="login ">Login</button>
            <button id ="signIn ">Sign-In</button>
        </form>

        <script script  src =" https://code.jquery.com/jquery-3.6.0.min.js "> </script>
        <script src="/JS.js"></script>
    </body>
</html>